@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myform">
    <form method="post" enctype="multipart/form-data">
        <input name="firstname">
        <input name="lastname">
        <input type="file" name="file" accept="image/png" />
        <input type="submit">
    </form>
</div>
