@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myform">
    <form method="post">
        <input name="firstname">
        <input name="lastname">
        <input type="submit">
    </form>
</div>


